.number-guess-input {
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    width: 200px;
    height: 50px;
    color: #0B486B;
}

.result-button-game {
    color: #3B8686;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}
