.page-title {
    color: #0B486B;
    font-family: 'Raleway', sans-serif;
    background-color: #CFF09E;
    padding: 20px 20px 20px 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}

label {
    cursor: pointer;
}

.record-section {
    text-align: center;
    color: #3B8686;
    font-family: 'Raleway', sans-serif;
}

#count {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: auto;
}

.count {
    font-size: 30px;
    color: red;
}

.count-format {
    font-size: 20px;
}

main {
    width: 85%;
    margin: 0 auto;
}

input {
    display: none;
}

input:checked + .radio-image {
    border: 5px solid #0B486B
}

.main-section {
    text-align: center;
}

.rock-image{
    width: 16%;
    height: 16%;
    border-radius: 100%;
}

.paper-image {
    width: 16%;
    height: 16%;
    border-radius: 100%;
}

.scissors-image {
    width: 17%;
    height: 17%;
    border-radius: 100%;
}

.selector-section {
    text-align: center;
}

nav a {
    color: white;
}

.header {
    color: #3B8686;
    font-family: 'Raleway', sans-serif;
}

.sub-header {
    color: #79BD9A;
    font-family: 'Raleway', sans-serif;
}

.paragraph {
    color: #0B486B;
    font-family: 'Raleway', sans-serif;
}

.result {
    color: #0B486B;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
}

