.page-title {
    color: #0B486B;
    font-family: 'Raleway', sans-serif;
    background-color: #CFF09E;
    padding: 20px 20px 20px 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}

.header {
    color: #3B8686;
    font-family: 'Raleway', sans-serif;
}

.sub-header {
    color: #79BD9A;
    font-family: 'Raleway', sans-serif;
}

.paragraph {
    color: #0B486B;
    font-family: 'Raleway', sans-serif;
}

.result {
    color: #0B486B;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
}

.main-section {
    text-align: center;
}
